a {
  color: black !important;
}
a:visited {
  color: black !important;
}
a:hover, a:active {
  color: #555 !important; /* Optional: a slightly lighter black on hover */
}

img[src="/logo.png"] {
  max-width: 200px;
  height: auto;
}

/* Change font */
body {
  font-family: 'Inter', Arial, sans-serif;
}

header {
  display: flex;
  align-items: center;
  gap: 16px;
}
header img {
  max-width: 80px;
  height: auto;
}
header h1, header p {
  margin: 0;
}
